/* || --> Reset */
html { scrollbar-width: none; scroll-behavior: smooth; }
html,body { width: 100%; height: 100%; font-family: "Open Sans", sans-serif; }

hr { border: 0; }
ul, li, ol { list-style: none; }
img { display: block; max-width: 100%; }
a { text-decoration: none; color: currentColor; }

*,*::before,*::after { margin: 0; padding: 0; box-sizing: border-box; }

/* || --> Position */
.pos-f { position: fixed; }
.pos-r { position: relative; }
.pos-a { position: absolute; }

.t-0 { top: 0; }
.t-72 { top: 72px; }

.r-n-66p { right: calc(-400% / 6); }

.l-33p { right: calc(100% / 3); }

/* || --> Float */
.fl-l { float: left; }
.fl-r { float: right; }

/* || --> Display */
.block { display: block; }
.inline-block { display: inline-block; }

/* || --> Width */
.w-24 { width: 24px; }

.w-10p { width: 10%; }
.w-20p { width: 20%; }
.w-30p { width: 30%; }
.w-33p { width: 33.333333%; }
.w-40p { width: 40%; }
.w-50p { width: 50%; }
.w-60p { width: 60%; }
.w-70p { width: 70%; }
.w-80p { width: 80%; }
.w-90p { width: 90%; }
.w-100p { width: 100%; }

/* || --> Height */
.h-0 { height: 0; }
.h-24 { height: 24px; }

/* || --> Margins */
.mt-32 { margin-top: 32px; }
.mt-48 { margin-top: 48px; }
.mt-72 { margin-top: 72px; }

.mr-4 { margin-right: 4px; }
.mr-8 { margin-right: 8px; }
.mr-16 { margin-right: 16px; }

.mb-8 { margin-bottom: 8px; }
.mb-16 { margin-bottom: 16px; }
.mb-32 { margin-bottom: 32px; }
.mb-48 { margin-bottom: 48px; }

.ml-24 { margin-left: 24px; }

.mx-auto { margin: 0 auto; }
.mx-8 { margin-left: 8px; margin-right: 8px; }
.mx-24 { margin-left: 24px; margin-right: 24px; }
.mx-32 { margin-left: 32px; margin-right: 32px; }

.my-32 { margin-top: 32px; margin-bottom: 32px; }
.my-48 { margin-top: 48px; margin-bottom: 48px; }

/* || --> Paddings */
.p-8 { padding: 8px; }
.p-32 { padding: 32px; }

.pt-144 { padding-top: 144px; }

.pr-16 { padding-right: 16px; }
.pr-32 { padding-right: 32px; }

.pb-8 { padding-bottom: 8px; }
.pb-48 { padding-bottom: 48px; }

.pb-33p { padding-bottom: 33.333333%; }
.pb-50p { padding-bottom: 50%; }
.pb-100p { padding-bottom: 100%; }

.pl-32 { padding-left: 32px; }

.px-16 { padding-left: 16px; padding-right: 16px; }
.px-24 { padding-left: 24px; padding-right: 24px; }
.px-32 { padding-left: 32px; padding-right: 32px; }

.py-4 { padding-top: 4px; padding-bottom: 4px; }
.py-8 { padding-top: 8px; padding-bottom: 8px; }
.py-32 { padding-top: 32px; padding-bottom: 32px; }
.py-48 { padding-top: 48px; padding-bottom: 48px; }
.py-64 { padding-top: 64px; padding-bottom: 64px; }
.py-96 { padding-top: 96px; padding-bottom: 96px; }
.py-144 { padding-top: 144px; padding-bottom: 144px; }

/* || --> Borders */
.bd-1 { border: 1px solid #d0d0d3; }
.bd-top-1 { border-top: 1px solid #d0d0d3; }
.bd-bottom-1 { border-bottom: 1px solid #d0d0d3; }

/* || --> Backgrounds */
.bg-blue { background-color: #0061fe; }
.bg-white { background-color: #ffffff; }
.bg-black { background-color: #1e1919; }
.bg-lightblue { background-color: #b4d0e7; }
.bg-lightgray { background-color: #f7f5f2; }

.bg-red { background-color: #f02022; }
.bg-green { background-color: #a8d29b; }
.bg-yellow { background-color: #fad736; }
.bg-darkred { background-color: #c90722; }
.bg-bordeaux { background-color: #5b0a2b; }
.bg-darkblue { background-color: #162880; }
.bg-lightblue { background-color: #b4d0e7; }

/* || --> Fonts */
.fsz-14 { font-size: 14px; line-height: 20px; }
.fsz-16 { font-size: 16px; line-height: 24px; }
.fsz-20 { font-size: 20px; line-height: 24px; }
.fsz-24 { font-size: 24px; line-height: 32px; }
.fsz-28 { font-size: 28px; line-height: 36px; }
.fsz-32 { font-size: 32px; line-height: 40px; }
.fsz-40 { font-size: 40px; line-height: 56px; }
.fsz-72 { font-size: 72px; line-height: 88px; }

.fw-500 { font-weight: 500; }
.fw-700 { font-weight: 700; }

.lh-72 { line-height: 72px; }

.clr-blue { color: #0061fe; }
.clr-white { color: #ffffff; }
.clr-black { color: #1e1919; }
.clr-gray { color: #7e8995; }
.clr-bordeaux { color: #5b0a2b; }

.ta-c { text-align: center; }

.td-n { text-decoration: none; }
.td-u  { text-decoration: underline; }

.va-t { vertical-align: top; }
.va-m { vertical-align: middle; }

/* || --> Overflow */
.ov-h { overflow: hidden; }

/* || --> Misc */

.z-top { z-index: 9999; }
.cup { cursor: pointer; }
.clearfix::after { clear: both; content: ''; display: table;}

.shadow-bottom-1 { box-shadow: 0 1px 0 0 #d0d0d3; }
.invert-black { filter: invert(100%); -webkit-filter: invert(100%); }
.shadown-inset-8 { box-shadow: inset 0 0 0 8px rgba(255, 255, 255, .4); }

.btn-xl { padding: 8px 20px; font-size: 16px; line-height: 24px;}

.btn-black { border-width: 1px; border-color: #1e1919; border-style: solid; }

.middle-absolute { top: 50%; left: 50%; position: absolute; transform: translate(-50%, -50%); }

/* CUSTOM RADIO BUTTON */
.radio-button { 
    width: 16px;
	height: 16px;
	position: relative;
	border-radius: 16px;
	display: inline-block;
	vertical-align: middle;
	transition: 500ms ease;
	background-color: #ffffff;
	border: 2px solid #d0d0d3;
 }

 .radio-button::before {
    top: 50%;
	left: 50%;
	width: 8px;
	height: 8px;
	content: '';
	display: block;
	position: absolute;
	border-radius: 8px;
	background-color: #ffffff;
	transform: translate(-50%, -50%);
 }

 input[type="radio"] { display: none; }

 input[type='radio']:checked + .radio-button {
	border-color: #0061fe;
	background-color: #0061fe;
}

/* || --> Animation */
footer > div > div > ul li:not(.fw-700):hover { text-decoration: underline; }
.anim-btn-blue:hover { color: #ffffff; background-color: #162880; transition: 200ms ease; }
.anim-btn-black:hover { color: #ffffff; background-color: #1e1919; transition: 200ms ease; }
.anim-btn-bordeaux:hover { color: #ffffff; background-color: #5b0a2b; transition: 200ms ease; }
.anim-underline:hover { cursor: pointer; box-shadow: inset 0 -2px 0 0 #1e1919; transition: 200ms ease; }